{{> userProfile}}

<section id="user-overview-section" class="sec flex-clm-center">
  {{> userSubmenu}}
  {{> charactersSubmenu}}
  
  <article class="user-profil-showcase-container flex-clm-center">
      <form method="POST" action="/me/character/create">
      <section class="flex-row-center characterCreationSection">
        <div>
          <div class="flex-clm-center">
            <label for="name">Enter your Characters Name</label>
            <input
            id="name"
            name="characterName"
            type="text"
            placeholder="Name"
            value="{{characterName}}"
            />
          </div>
          <div class="flex-row-center">
            <div class="flex-clm-center characterInputInfo">
              <label for="gender">Gender</label>
              <input
                id="gender"
                name="gender"
                type="text"
                placeholder="Gender"
                value="{{gender}}"
              />

              <label for="figure">Figure</label>
              <input
                id="figure"
                name="figure"
                type="text"
                placeholder="Figure"
                value="{{figure}}"
              />

              <label for="profession">Profession</label>
              <input
                id="profession"
                name="profession"
                type="text"
                placeholder="Profession"
                value="{{profession}}"
              />
            </div>
            <div class="flex-clm-center characterInputInfo">
              <div class="flex-row-center">
                <div class="flex-clm-center">
                  <label for="age">Age</label>
                  <input
                    id="age"
                    name="age"
                    type="number"
                    placeholder="Age"
                    value="{{age}}"
                  />
                </div>
                <div class="flex-clm-center">
                  <label for="healthPoints">Life Points</label>
                  <input
                    id="healthPoints"
                    name="healthPoints"
                    type="text"
                    placeholder="Life Points"
                    value="100"
                  />
                </div>
              </div>

              <label for="religion">Religion</label>
              <input
                id="religion"
                name="religion"
                type="text"
                placeholder="Religion"
                value="{{religion}}"
              />

              <label for="maritalStatus">Marital Status</label>
              <input
                id="maritalStatus"
                name="maritalStatus"
                type="text"
                placeholder="Material Status"
                value="{{maritalStatus}}"
              />
            </div>
          </div>
        </div>
      </section>
      <section class="flex-row-center">
        <article class="flex-clm-center characterSkillSection">
          <div class ="skillTitle">
            <a class="infoLink" href="https://howtobeahero.de/index.php?title=Handeln/en">
              <img class="infoLink" src="/images/fi-br-info.png" alt="info" />
            </a>
            <label for="p1Key">Physical<label>
          </div>
          <div>
            <input class="skillText" id="p1Key" name="p1Key" type="text" /> <input class="skillValue" id="p1Value" name="p1Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="p2Key" name="p2Key" type="text" /> <input class="skillValue" id="p2Value" name="p2Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="p3Key" name="p3Key" type="text" /> <input class="skillValue" id="p3Value" name="p3Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="p4Key" name="p4Key" type="text" /> <input class="skillValue" id="p4Value" name="p4Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="p5Key" name="p5Key" type="text" /> <input class="skillValue" id="p5Value" name="p5Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="p6Key" name="p6Key" type="text" /> <input class="skillValue" id="p6Value" name="p6Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="p7Key" name="p7Key" type="text" /> <input class="skillValue" id="p7Value" name="p7Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="p8Key" name="p8Key" type="text" /> <input class="skillValue" id="p8Value" name="p8Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="p9Key" name="p9Key" type="text" /> <input class="skillValue" id="p9Value" name="p9Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="p10Key" name="p10Key" type="text" /> <input class="skillValue" id="p10Value" name="p10Value" type="number" />
        </article>
        <article class="flex-clm-center characterSkillSection">
          <div class ="skillTitle">
            <a class="infoLink" href="https://howtobeahero.de/index.php?title=Wissen/en">
              <img class="infoLink" src="/images/fi-br-info.png" alt="info" />
            </a>
            <label for="k1Key">Knowledge<label>
          </div>
          <div>
            <input class="skillText" id="k1Key" name="k1Key" type="text" /> <input class="skillValue" id="k1Value" name="k1Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="k2Key" name="k2Key" type="text" /> <input class="skillValue" id="k2Value" name="k2Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="k3Key" name="k3Key" type="text" /> <input class="skillValue" id="k3Value" name="k3Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="k4Key" name="k4Key" type="text" /> <input class="skillValue" id="k4Value" name="k4Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="k5Key" name="k5Key" type="text" /> <input class="skillValue" id="k5Value" name="k5Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="k6Key" name="k6Key" type="text" /> <input class="skillValue" id="k6Value" name="k6Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="k7Key" name="k7Key" type="text" /> <input class="skillValue" id="k7Value" name="k7Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="k8Key" name="k8Key" type="text" /> <input class="skillValue" id="k8Value" name="k8Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="k9Key" name="k9Key" type="text" /> <input class="skillValue" id="k9Value" name="k9Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="k10Key" name="k10Key" type="text" /> <input class="skillValue" id="k10Value" name="k10Value" type="number" />
          </div>
        </article>
        <article class="flex-clm-center characterSkillSection">
          <div class ="skillTitle">
            <a class="infoLink" href="https://howtobeahero.de/index.php?title=Soziales/en">
              <img class="infoLink" src="/images/fi-br-info.png" alt="info" />
            </a>
            <label for="s1Key">Social<label>
          </div>
          <div>
            <input class="skillText" id="s1Key" name="s1Key" type="text" /> <input class="skillValue" id="s1Value" name="s1Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="s2Key" name="s2Key" type="text" /> <input class="skillValue" id="s2Value" name="s2Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="s3Key" name="s3Key" type="text" /> <input class="skillValue" id="s3Value" name="s3Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="s4Key" name="s4Key" type="text" /> <input class="skillValue" id="s4Value" name="s4Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="s5Key" name="s5Key" type="text" /> <input class="skillValue" id="s5Value" name="s5Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="s6Key" name="s6Key" type="text" /> <input class="skillValue" id="s6Value" name="s6Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="s7Key" name="s7Key" type="text" /> <input class="skillValue" id="s7Value" name="s7Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="s8Key" name="s8Key" type="text" /> <input class="skillValue" id="s8Value" name="s8Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="s9Key" name="s9Key" type="text" /> <input class="skillValue" id="s9Value" name="s9Value" type="number" />
          </div>
          <div>
            <input class="skillText" id="s10Key" name="s10Key" type="text" /> <input class="skillValue" id="s10Value" name="s10Value" type="number" />
          </div>
        </article>
      </section>
      <button class="profileButton startButtonClass">Create</button>
    </form>
  </article>
</section>

<script src=""></script>