{{> adventureProfile}}

<section id="user-overview-section" class="sec flex-clm-center">
  {{> adventureSubmenu}}
      <form action="/adventure/{{adventure._id}}/applicants/close" method="post">
      <button>Close</button>
    </form>
  <article class="user-profil-showcase-container flex-row-center">
  <h3 class="user-profil-showcase-title">Applicants:</h3>
  <div  id="adventureSection">
  {{#each adventure.applicants}}

  <a href="/user/{{this.userId._id}}" class="adventureListing">

    <img class="filterPicture" src="{{this.userId.avatar}}" />
    
    <div class="adventureListingHead applicationHead">
      <h3>{{this.userId.username}}      
        
    {{#if this.characterId.characterName}}
      <span> with "{{this.characterId.characterName}}"</span>
    {{/if}}</h3>     
    <form action="/adventure/{{../adventure._id}}/applicants/accept" method="post">
      <input type="text" name="applicantsId" value="{{this._id}}" style="display:none;"/>
      <button>Accept</button>
    </form>
    <form action="/adventure/{{../adventure._id}}/applicants/reject" method="post">
      <input type="text" name="applicantsId" value="{{this._id}}" style="display:none;"/>
      <button>Reject</button>
    </form>

     <p class="applicantsP">{{this.message}}</p>
    </div>
    </a>
  {{/each}}
  </div>
</article>
<section>