 <div id="filterPage">
<form method="POST" action="/filter">
 
    <h1><u>Find Group</u></h1>
    <p>Find a group to play your next adventure with. Use the filter options to
      choose your preferences.</p>
  
  <div>
    <h2>Filter</h2>
    {{! <span><label>Open Seats:</label><input
        type="number"
        name="openSeats"
      /></span> }}
    {{! <span><label>Setting:</label>
      <select name="setting">
        <option> </option>
        <option value="fiction">Fiction</option>
        <option value="future">Future</option>
        <option value="medieval">Medieval</option>
      </select>
    </span> }}
    <span><label>Rule set:</label>
      <select name="gameSystem">
        <option value="How to be a Hero">How to be a Hero</option>
        <option value="other">Other</option>
      </select>
    </span>
    </br>
    <span>
      <label>Language</label>
      <select name="language">
        <option value="german">german</option>
        <option value="english">english</option>
      </select>
    </span>
    </br>
    <button>Find Group</button>
  </div>
</form>

<div  id="adventureSection">
  {{#each filterResults}}
  <a href="/adventure/{{this._id}}" class="adventureListing">
    <img class="filterPicture" src="{{this.portrait}}" />
    <span class="adventureContentSpan">
    <h3>{{this.adventureName}}</h3>
    <p>{{this.plot}}</p>
    </span>
    <span class = "playerCount">
      {{this.playerCount}} Seats open
    </span>
  </a>
  {{/each}}
</div>
</div>