{{> adventureProfile}}

<section id="user-overview-section" class="sec flex-clm-center">
  {{> adventureSubmenu}}
      
  {{#if adventure.isActive}}
    {{#if isMyGame}}
<div class="flex-row-center">
    <form action="/adventure/edit/{{adventure._id}}" method="get">
    <button>Edit</button>
    </form>
      <form action="/adventure/{{adventure._id}}/close" method="post">
      <button>Close</button>
    </form>
</div>
   {{/if}}
  {{/if}}
<div class="flex-clm-center adventureContainer"> 
  
<h3>{{adventure.adventureName}}</h3>
<div class="adventureSectionRow">
<div class="advPicDiv">
<img src="/images/fi-br-clock.png" alt=""><h4>~ {{adventure.estimatedTime}}min</h4>
{{#if camCommun}}<img src="/images/fi-br-camera.png" alt=""><h4>required</h4>{{/if}}
</div>

<div id="user-data" class="flex-row-center adventureStats">
  
  <ul class= "user-data-description">
    <li class="user-data-item">Game System:</li>
    <li class="user-data-item">Next Date:</li>
    <li class="user-data-item">Starting Time:</li>
    <li class="user-data-item">Group Size:</li>
    <li class="user-data-item">Language:</li>
    <li class="user-data-item">Experience:</li>
    <li class="user-data-item">Platform:</li>
    {{#if isApplied}}
      <li class="user-data-item">Connection-ID:</li>
    {{/if}}
    {{#if adventure.minAge}}<li class="user-data-item">Minimum Age:</li>{{/if}}
 </ul>
 <ul class="user-data-items">
    <li class="user-data-item">{{adventure.gameSystem}}</li>
    <li class="user-data-item">{{adventure.start}}</li>
    <li class="user-data-item">{{adventure.time}}</li>
    <li class="user-data-item">{{adventure.userIds.length}} / {{adventure.groupSize}}</li>
    <li class="user-data-item">{{adventure.language}}</li>
    <li class="user-data-item">{{adventure.expierience}}</li>
    <li class="user-data-item">{{adventure.plattform}}</li>
    {{#if isApplied}}
      <li class="user-data-item">
        {{#if adventure.connection}}
        {{adventure.connection}}</li>
        {{/if}}
        {{#unless adventure.connection}}
        <input disabled type="text" placeholder="Connection-ID missing!">
        {{/unless}}
    {{/if}}
  {{#if adventure.minAge}}<li class="user-data-item">{{adventure.minAge}} years</li>{{/if}}
 </ul>
 </div>
 </div>
 <p class="user-data-item">Plot:</p>
 <p class ="adventureP">{{adventure.plot}}</p>
 </div> 
</section>
