<section id="user-data-section" class="sec flex-clm-center">
  <div class="flex-row-center">
    <img id="avatar" src="{{user.avatar}}" alt="" />
  </div>
  <div id="user-data" class="flex-row-center">
    <div>
      <ul class="user-data-description">
        <li class="user-data-item">Username:</li>
        {{#if user.age}}<li class="user-data-item">Age:</li>{{/if}}
        {{#if user.location}} <li class="user-data-item">Located in:</li>{{/if}}
        {{#if user.languages}}<li class="user-data-item">Language</li>{{/if}}
      </ul>
    </div>
    <div>
      <ul class="user-data-items">
        <li class="user-data-item">{{user.username}}</li>
        <li class="user-data-item">{{user.age}}</li>
        <li class="user-data-item">{{user.location}}</li>
        <li class="user-data-item">{{user.languages}}</li>
      </ul>
    </div>
  </div>

  <h4>Experience</h4>
  <div id="userExp" class="flex-row-center">
    <div>
      <ul class="user-data-description">
        {{#if user.isPlayer}}<li class="user-data-item">Player:</li>{{/if}}
        {{#if user.isGameMaster}}<li class="user-data-item">Game Master:</li>{{/if}}
      </ul>
    </div>
    <div>
      <ul class="user-data-items">
        {{#if user.isPlayer}}<li
            class="user-data-item"
          >{{user.playerExp}}</li>{{/if}}
        {{#if user.isGameMaster}}<li
            class="user-data-item"
          >{{user.gameMasterExp}}</li>{{/if}}
      </ul>
    </div>
  </div>
</section>